#custom-firefox,
#custom-fileman,
#custom-terminal,
#custom-discord, 
#custom-virtmanager{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 18px;
  margin: 0;
}

#custom-arch {
  color: #1793d1;
  background-color: @trayc;
  transition: background-color 600ms ease, box-shadow 160ms ease;
  transition: border 600ms ease, box-shadow 600ms ease;
}
#custom-arch:hover {
   background: rgba(0,0,0,0.2);
   border-radius: 0px;
   border-bottom: 2px solid #1793d1;
}

#custom-firefox {
  color: #fa881e;
  padding-left: 8px;
  background-color: @trayc;
}

#custom-fileman {
  color: #1e83fa;
  background-color: @trayc;
}

#custom-terminal {
  color: #39FF14;
  background-color: @trayc;
}

#custom-virtmanager {
  color: #1efaed;
  background-color: @trayc;
  padding-right: 18px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-left: 0px
}

#custom-discord {
  color: #738ADB;
  background-color: @trayc;
  padding-right: 12px;
}


/* Spacer / endcaps */
#custom-spacer { 
  padding-left: 10px; 
}

#custom-leftend {
  padding-left: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

#custom-rightend {
  padding-left: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* Idle inhibitor */
#idle_inhibitor {
  padding-top: 0px;
  color: #ffffff;
}

#idle_inhibitor.activated {
  color: #4aff00;
  }

#custom-vpn {
  color: @vpn_fg;
  border-bottom: 2px solid @vpn_fg;
}

#custom-bluetooth.off {
  font-size: 17px;
  color: @bt_off;
  border-bottom: 2px solid @bt_off;
  padding: 0 2px;
  margin: 0;
  padding-top: 5px;
  padding-left: 0px;

}

#custom-bluetooth.on {
  font-size: 17px;
  color: @bt_on;
  border-bottom: 2px solid @bt_on;
  padding: 0 2px;
  margin: 0;
  padding-top: 5px;
  padding-left: 0px;

}

#custom-bluetooth.connected {
  font-size: 17px;
  color: @bt_connected;
  border-bottom: 2px solid @bt_connected;
  padding: 0 2px;
  margin: 0;
  padding-top: 5px;

}

